/* Importing Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(#f1faff, #cbe4ff);
}

.sidebar {
  width: 270px;
  position: fixed;
  margin: 16px;
  border-radius: 16px;
  height: calc(100vh - 32px);
  background: #151a2d;
}

.sidebar-header {
  display: flex;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header .header-logo img {
  width: 56px;
  height: 56px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar-nav .nav-list {
  list-style: none;
}

.sidebar-nav .nav-link {
  color: #fff;
  text-decoration: none;
}
