* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  background: #333;
}

footer {
  position: relative;
  width: 100%;
  height: 200px;
  background: #3586ff;
}

footer .wave {
  position: absolute;
  top: -100px;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}
